{% extends "base.html" %}
{% load static %}

{% block title %}
    ItemSearch
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="htmleaf-container">
        <div class="search d1">
            <input id="search" type="text" placeholder="搜索从这里开始...">
            <button id="submit" type="submit">submit</button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>

    <script>
        $('#submit').click(function () {
            var key = $("#search").val()
            $.ajax({
                url: '/items/all/',
                type: 'post',
                dataType: 'json',
                contentType: "application/json",
                async: true,//异步请求
                cache: false,
                data: JSON.stringify({"key":key}),//使用变量sendData
                //执行成功的回调函数
                success: function (data) {
                    alert(data.data)
                },
                //执行失败或错误的回调函数
                error: function (data) {
                    alert("error");
                }
            });
        });
    </script>
{% endblock %}


